@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    ion-icon {
        font-size: 1.75rem;
        transition: 0.2s ease-in-out;

        &:hover {
            color: #0ea5e9;
        }
    }
    .arrow-down {
        ion-icon {
            font-size: 6rem;
            opacity: 20%;
        }
    }
    .dark {
        color: white;

        ion-icon:hover {
            color: #fb923c;
        }
    }
    a, button {
        pointer-events: all;
    }
    h1, h2, button {
        font-family: 'Rubik';
    }
    h2 {
        font-size: 2.25rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    p, a, li, ul {
        font-family: 'Nunito';
    }
    .cubic {
        transition-timing-function: cubic-bezier( 0.175, 0.885, 0.32, 1.5 );
    }
    .delay-400 {
        transition-delay: 400ms;
    }
    .dropdown-container a:nth-of-type( 6n + 2 ) {
        animation-delay: 120ms;
    }
    .dropdown-container a:nth-of-type( 6n + 3 ) {
        animation-delay: 240ms;
    }
    .dropdown-container a:nth-of-type( 6n + 4 ) {
        animation-delay: 360ms;
    }
    .dropdown-container a:nth-of-type( 6n + 5 ) {
        animation-delay: 480ms;
    }
    .dropdown-container a:nth-of-type( 6n + 6 ) {
        animation-delay: 600ms;
    }
}