@mixin flex( $wrap, $direction, $justify, $align ) {
    display: flex;
    flex-wrap: $wrap;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid( $col ) {
    display: grid;
    grid-template-columns: $col;
    gap: $md;
}